<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
<title>Home</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/css.css?family=Istok+Web:400,700italic,700,400italic%7CMontserrat:400,700">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page">
  <header class="page-head header-corporate">
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-md-stick-up-offset="150px" data-lg-stick-up-offset="150px">
        <div class="top-panel clearfix">
          <div class="contact-info">
            <div class="telephone"><span class="icon icon-emerland icon-sm mdi-phone"></span><a href="callto:#">0822-9737-6700</a></div>
            <address class="address">
            <span class="icon icon-emerland icon-sm mdi-map-marker"></span>
            <div class="link-block text-middle"><a href="#">vOffice Level 12-1N Jl. MH Thamrin No.81 Jakarta Pusat</a></div>
            </address>
            <div class="mail"><span class="icon icon-emerland icon-sm mdi-email-outline"></span><a href="#98bb"><span class="__cf_email__" data-cfemail="c1a8afa7ae81a5a4acaeada8afaaefaeb3a6">contact@salesku.id</span></a></div>
          </div>
        </div>
        <div class="rd-navbar-inner">
          <div class="rd-navbar-wrap">
            <div class="rd-navbar-telephone"><span class="icon icon-emerland icon-sm mdi-phone text-middle"></span> <a href="callto:#" class="text-middle">1-900-2312-534</a> </div>
            <div class="rd-navbar-panel">
              <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
              <div class="rd-navbar-brand"><a href="/" class="brand-name"><img src="images/logo.png" alt="logo"/></a></div>
            </div>
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-brand brand-fixed"><a href="/" class="brand-name"><img alt="logo" src="images/logo.png" /></a></div>
              <ul class="rd-navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contact">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- Page Content-->
  <main class="page-content">
    <section class="bg-breadcrumbs text-center text-sm-left txt-white section-sm-55 section-15">
      <div class="shell">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">About Us</li>
        </ol>
        <h1 class="offset-top-20">About Us</h1>
      </div>
    </section>
    <!--Section A Few Words About Us-->
    <section class="section-50 section-md-120">
      <div class="shell">
        <div class="range">
          <div class="cell-md-12 inset-md-right-45">
            <h3 class="divider-sm">Story of Salesku</h3>
            <p>Salesku terbentuk berangkat dari perkembangan teknologi yang merambah ke berbagai bidang termasuk dunia sales, selain dinamika dan tantangan yang dihadapai oleh para sales itu sendiri. Sebagai ujung tombak penjualan segala harapan dibebankan kepada meraka dalam bentuk target penjualan yang harus dicapai dalam periode waktu tertentu. Sifat transaksional sales yang mendominasi dunia penjualan mengesankan dunia sales adalah dunia yang keras dan penuh tantangan.</p>

            <p>Digitalisasi yang merambah dalam segala sendi kehidupan menjadi tantangan tersendiri bagi dunia sales. Sales tradisional dibayang-bayangi era online yang telah terbukti banyak membawa dampak pada sales proses yang lebih efisien dan produktif. Apakah dengan kemunculan channel online akan mematikan channel tradisionaal yang berjalan selama ini? salesku hadir sebagai platform yang mengintegrasikan sales online dan sales offline secara beriringan dengan aspek human touch sebagai penjembatan. Kami percaya hal ini akan memberikan kontribusi yang lebih positif. Kita tentunya pernah mendengar jargon sales is about number, apapun yang dilakukan harus berujung dengan pencapain target. salesku hadir dengan konsep sales is about process. Dengan proses yang terencana baik kemudian dieksekusi secara konsisten. Tanpa mengesampingkan focus dan antusiasme, kami percaya sales akan berkontribusi maksimal. Bagaimana disetiap lini penjualan dapat memahami target-target kuantitatif yang dapat diterjemahkan kedalam sales activity yang lebih produktif akan membawa dampak lebih besar.
            </p>

            <p>
              Sales tidak semata-mata tercapainya target-target penjualan. salesku mengajak insan sales untuk memberikan penghargaan lebih kepada proses. salesku mengajak seluruh tenaga penjualan menggunakan prinsip kebaikan spread kindness untuk membantu customer memperoleh akses terhadap informasi produk dan jasa terbaik yang dibutuhkan. Kami yakin salesku dapat membantu para sales mencapai asa tertinggi.
            </p>
          </div>
        </div>

        <div class="range">
          <div class="cell-md-8 offset-top-48">
            <h5 class="txt-gray-darker text-center text-sm-left">Preposition Value</h5>
            <div class="divider-lg-2 offset-top-10"></div>
            <!-- Responsive-tabs-->
            <div class="responsive-tabs responsive-tabs-vertical-buttons offset-top-30 responsive-tabs-default">
              <ul class="resp-tabs-list">
                <li>Simple</li>
                <li>Modern</li>
                <li>Helpful</li>
                <li>Fast</li>
              </ul>
              <div class="resp-tabs-container">
                <div>Easy for Partners , Simple End to End Process</div>
                <div>Up to date and Lifestyle</div>
                <div>Speed and Responsive</div>
                <div>Sharing kindness & Knowledge, Sales Support, Helping People, Human Relation</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-foot bg-gray-lighter section-87 section-bottom-15">
    <div class="shell">
      <div class="range">
        <div class="cell-sm-6 cell-md-4 cell-lg-3 cell-sm-preffix-3 cell-md-preffix-0 text-center text-md-left">
          <div class="rd-navbar-brand"><a href="/" class="brand-name"><a href="/" class="brand-name"><img alt="logo" src="images/logo.png" /></a></a></div>

        </div>
        <div class="cell-sm-6 cell-md-4 cell-lg-3 cell-lg-preffix-1 offset-top-30 offset-md-top-0"></div>
        <div class="cell-sm-6 cell-md-4 cell-lg-4 cell-lg-preffix-1 offset-top-30 offset-md-top-0">
          <h6>Contact Us</h6>
          <div class="divider-lg offset-top-9"></div>
          <div class="contact-info offset-top-22">
            <div class="telephone"><span class="icon icon-emerland icon-sm mdi-phone text-middle"></span><a href="callto:#" class="text-middle">0822-9737-6700</a></div>
            <address class="address">
            <span class="icon icon-emerland icon-sm mdi-map-marker text-middle"></span>
            <div class="link-block text-middle"><a href="#" class="text-middle">vOffice Level 12-1N Jl. MH Thamrin No.81 Jakarta Pusat</a></div>
            </address>
            <div class="mail"><span class="icon icon-emerland icon-sm mdi-email-outline text-middle"></span><a href="#fdde" class="text-middle"><span class="__cf_email__" data-cfemail="573e3931381733323a383b3e393c79382530">contact@salesku.id</span></a></div>
          </div>
        </div>
        <div class="cell-xs-12 offset-top-55 text-center text-md-left">
          <p class="privacy">Salesku &#169; <span id="copyright-year"></span>. <a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="form-output-global" class="snackbars"></div>
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
